{% extends "home/base.html" %}
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!--                insert data here-->
<!-- //////////////////////////////////////////////////////////////////////////// -->

{% block body %}


<!--

      <div class="center row">
          <div class="center container">
        <div class="center col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="/static/images/group.jpg" class="responsive-img">
              <span class="card-title">UNDOCULOCK</span>
            </div>
            <div class="card-content">
              <p>This application has been build by a group of imigrant students to empower our community.
              Sponsored by @undocumedia #Undocuhackathon.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
</div>
-->



<div class="center row">
    <div class="col s12"> </div>

    <div class="col s12 m6">
        <div class="center row">
            <div class="center container">
                <div class="center col s12">
                    <div class="card">
                        <div class="card-image">
                            <img src="/static/images/group.jpg" class="responsive-img">
                            <span class="card-title">UNDOCULOCK</span>
                        </div>
                        <div class="card-content">
                            <p>This application has been build by a group of imigrant students to empower our community. Sponsored by @undocumedia #Undocuhackathon.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col s12 m6">
        <div class="icon-block">
            <h5 class="light sentpage"> Documents Have Been Sent </h5>
            <p> Your documents have been successfully sent to your trusted contacts </p>
            <p> </p>
        </div>
        <!--
   </div>

       </div>




    <div class="container center card">
        <h3>You're done sharing Yay!</h3>
    </div>
-->
        {% endblock %}
