{% extends "home/base.html" %}

{% block header %}

    <header>
        <div>
            <div class="z-depth-2 row cyan darken-4 ">
                <div class="center">
                    <img class="brand-logo center responsive-img" src="/static/images/Undocu-lock%20Logo%20Medium.png">
                    <div class="row center">
                        <div class="container white-text">
                            <div col s12>
                                <h5>A Secure LockBox</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '272957556553762',
                cookie: true,
                xfbml: true,
                version: 'v2.10'
            });
            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


        window.checkLoginState = function () {
            FB.getLoginStatus(function (response) {

                        if (response.status === "connected") {

                            FB.api('/me', function (response) {
                                $.ajax({
                                    type: 'POST',
                                    url: '/actions/login',
                                    data: JSON.stringify(response),
                                    contentType: "application/json",
                                    dataType: 'json',
                                    success: function (response) {
                                        if (response.redirectUrl) {
                                            location.href = response.redirectUrl;
                                        }
                                    },
                                    error: function (response) {
                                        if (response.responseJSON.errorMessage) {
                                            $("#fbError").text(response.responseJSON.errorMessage).show()
                                        }
                                    }
                                });
                            })
                            ;
                        }
                    }
            );


        }
    </script>

    <main>
 <div class="fb-login-button"
         data-max-rows="1"
         data-size="large"
         data-button-type="login_with"
         data-show-faces="false"
         data-auto-logout-link="false"
         data-use-continue-as="false"></div>
        <div class="row">
            <div class="center container">

                <div class="fb-login-button"
                     data-max-rows="1"
                     data-size="large"
                     data-button-type="login_with"
                     data-show-faces="false"
                     data-auto-logout-link="false"
                     data-use-continue-as="false"
                     data-onlogin="checkLoginState();"
                ></div>
            </div>

        </div>


        <div class="container">
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><img src="/static/images/Asset%208.png"
                                                           class="responsive-img half"></h2>
                        <h5 class="center">Sign Up</h5>

                        <p class="light center">Sign up has never been easier!</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><img src="/static/images/Asset%209.png"
                                                           class="responsive-img half"></h2>
                        <h5 class="center">Upload</h5>

                        <p class="light center">Upload important documents. </p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><img src="/static/images/Asset%2010.png"
                                                           class="responsive-img half"></h2>
                        <h5 class="center">Share</h5>

                        <p class="light center">Securely send documents to trusted contacts.</p>
                    </div>
                </div>
            </div>
        </div>

    </main>

{% endblock %}
