{% extends "home/base.html" %} {% block body %}


<main>

    <div class="row">
        <div class="center container"> <a class="waves-effect waves-light btn-large" href="base.html">FACEBOOK</a></div>

    </div>


    <div class="container">
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><img src="../static/images/Icons/Undoculock%20icons-01.png" class="responsive-img half"> </h2>
                    <h5 class="center">Sing Up</h5>

                    <p class="light">Following user has never been easier! Now you can find users and follow them based on the hastag you like the most. </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><img src="../static/images/Icons/Undoculock%20icons-02.png" class="responsive-img half"> </h2>
                    <h5 class="center">Upload</h5>

                    <p class="light">The amazing algorithm alows you to comment on your followers pictures or any other picture of non followers in any given hastag. </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><img src="../static/images/Icons/Undoculock%20icons-03.png" class="responsive-img half"> </h2>
                    <h5 class="center">Share</h5>

                    <p class="light">Have the ability to unfollow those whom accounts are not following you; with just one click away.</p>
                </div>
            </div>
        </div>

    </div>




</main>

<footer>
    <div class="footer-copyright blue-grey darken-4"><br>
        <div class="container">
            © 2017 Copyright
            <a class="grey-text text-lighten-4 right" href="#!">UndocuLock</a>
        </div><br>
    </div>
</footer>
{% endblock %}
